
section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .profile{
        margin-right: 49px;
        position: absolute;
        top: 7vh;
        right: 10px;
        display: flex;
        align-items: center;

        

        .user{
            height: 40px;
            margin-left: 5px;
        }
    }
    .label{
        input{
            height: 30px;
            width: 250px;
        }
        button{
            margin-left: 20px;
            height: 40px;
            width: 100px;
            background-color: green;
        }
    }
}
.card {
    border: 5px solid green;
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}